<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BPA.Properties.Settings>
            <setting name="templateSheetName" serializeAs="String">
                <value>Планирование нового года шаблон</value>
            </setting>
            <setting name="ProductCalendarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BudgetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DecisionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PriceListMTPath" serializeAs="String">
                <value />
            </setting>
        </BPA.Properties.Settings>
    </userSettings>
</configuration>