<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BPA.Properties.Settings>
            <setting name="SHEET_NAME_PLANNING_TEMPLATE" serializeAs="String">
                <value>Планирование НГ шаблон</value>
            </setting>
            <setting name="ProductCalendarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BudgetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DecisionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PriceListMTPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PlannningNYIndicatorCellName" serializeAs="String">
                <value>PlanningNYCellNew</value>
            </setting>
            <setting name="SHEET_NAME_FILE_BUGET" serializeAs="String">
                <value>DatabaseStat</value>
            </setting>
            <setting name="SHEET_NAME_FILE_PRICELISTMT" serializeAs="String">
                <value>Цены клиентов</value>
            </setting>
            <setting name="SHEET_NAME_FILE_DECISION" serializeAs="String">
                <value>Цены клиентов</value>
            </setting>
            <setting name="SHEET_NAME_PRICELIST_TEMPLATE" serializeAs="String">
                <value>Прайс лист шаблон</value>
            </setting>
        </BPA.Properties.Settings>
    </userSettings>
</configuration>